parameters:
    level: 0
    paths:
        - src
    tmpDir: .phpstan.cache

    excludePaths:
        analyseAndScan:
            - src/Support/legacy (?)
            - src/Support/deprecated.php (?)

    ignoreErrors:
        -
            message: '#Cannot instantiate class sabbajohn\\FiscalCore\\Adapters\\NF\\Builder\\NotaFiscalBuilder via private constructor#'
            paths:
                - src/Adapters/NF/NFCe/NFCeAdapter.php
                - src/Adapters/NF/NFeAdapter.php
                - src/Facade/NFCeFacade.php
                - src/Facade/NFeFacade.php
        -
            message: '#Deprecated in PHP 8\.4: Parameter \#2 \$previous \(Throwable\) is implicitly nullable via default value null#'
            path: src/Exceptions/XmlException.php
